
        @import url('//fonts.googleapis.com/css?family=Oswald:200,300');
        /* define a style for Title, Headings and Normal texts */
        
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
            color: black;
            font-family: 'Oswald', sans-serif;
            margin: 0;
            font-weight: normal;
        }
        /* force element height to be smaller than sections can be in silex */
        
        .editable-style.small-height {
            min-height: 10px;
            height: 10px;
            max-height: 10px;
        }
        /* title style */
        
        .title {
            font-size: 60px;
            color: rgb(73, 187, 204);
        }
        
        .heading1 {
            font-size: 24px;
        }
        
        .editable-style.right {
            left: initial;
            right: 0px;
        }
        
        .grey-text .normal {
            color: grey;
        }
        
        .small-text .normal {
            color: grey;
            font-size: 10px;
        }
        
        .product-details .heading1 {
            color: rgb(73, 187, 204);
        }
        
        .product-details .heading3 {
            color: white;
            background-color: rgb(73, 187, 204);
            float: right;
            padding: 2px 25px;
        }
        
        .in-front {
            z-index: 1000;
        }
        
        .link-menu .normal {
            padding-top: 5px;
            color: #000000;
        }
        /* animated colors widget
            https://github.com/silexlabs/Silex/issues/138
        */
        
        .link-menu .page-link-active {
            background-color: rgb(73, 187, 204);
            transition: background-color 0.5s ease-in;
        }
        
        .link-menu .page-link-active .normal {
            color: #FFFFFF;
            transition: color 0.5s ease-in;
        }
    
        .silex-id-1436036524732-32 {
            cursor: auto;
            background-image: url('../assets/background.jpg');
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: fixed;
            background-position: center left;
        }
        
        .silex-id-1483130857943-13 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(26, 33, 34, 0);
        }
        
        .silex-id-1483130857943-12 {
            min-height: 20px;
            background-color: transparent;
        }
        
        .silex-id-1483130355289-7 {
            top: 10px;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8235294117647058);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483130355289-7 {
                top: 70px;
                left: 0px;
            }
        }
        
        .silex-id-1483130355289-6 {
            min-height: 331px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483130355289-6 {
                min-height: 218px;
            }
        }
        
        .silex-id-1436036524531-30 {
            width: 408px;
            top: 106px;
            left: 111px;
            background-color: transparent;
            min-height: 141px;
        }
        
        .silex-id-1504512463014-3 {
            width: 198px;
            min-height: 276px;
            top: -81px;
            left: -92px;
        }
        
        .silex-id-1436036524330-28 {
            width: 283px;
            top: 8px;
            left: 117px;
            min-height: 100px;
        }
        
        .silex-id-1436036522119-6 {
            width: 383px;
            top: 124px;
            left: 539px;
            background-color: transparent;
            min-height: 108px;
        }
        
        .silex-id-1504616520739-13 {
            width: 90px;
            top: 10px;
            left: 25px;
            min-height: 33px;
            background-color: rgba(37, 148, 185, 1);
        }
        
        .silex-id-1436036521917-4 {
            width: 90px;
            top: 60px;
            left: 25px;
            min-height: 33px;
            background-color: rgba(37, 148, 185, 1);
        }
        
        .silex-id-1504626516793-28 {
            width: 90px;
            top: 60px;
            left: 125px;
            min-height: 33px;
            background-color: rgba(37, 148, 185, 1);
        }
        
        .silex-id-1504626619453-29 {
            width: 90px;
            top: 10px;
            left: 125px;
            min-height: 33px;
            background-color: rgba(37, 148, 185, 1);
        }
        
        .silex-id-1504629491636-39 {
            width: 90px;
            top: 10px;
            left: 225px;
            min-height: 33px;
            background-color: rgba(37, 148, 185, 1);
        }
        
        .silex-id-1483131410736-25 {
            top: 259px;
            left: NaNpx;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483131410736-25 {
                top: 401px;
                left: 0px;
            }
        }
        
        .silex-id-1483131410737-26 {
            min-height: 525px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483131410737-26 {
                top: 0px;
                left: 12px;
                width: 445px;
                min-height: 791px;
            }
        }
        
        .silex-id-1436036521716-2 {
            width: 389px;
            top: 59px;
            left: 539px;
            min-height: 325px;
        }
        
        .silex-id-1436036521615-1 {
            width: 400px;
            top: 51px;
            left: 111px;
            background-color: transparent;
            min-height: 396px;
        }
        
        .silex-id-1504615914235-0 {
            top: 416px;
            left: 5px;
            min-width: 980px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504615914235-0 {
                top: 401px;
                left: 0px;
            }
        }
        
        .silex-id-1504615914235-1 {
            min-height: 1375px;
            background-color: transparent;
            top: 15px;
            left: 205px;
            width: 980px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504615914235-1 {
                min-height: 415px;
            }
        }
        
        .silex-id-1504615914235-2 {
            width: 820px;
            top: 44px;
            left: 100px;
            min-height: 195px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504615914235-2 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1504617622593-14 {
            width: 404px;
            top: 289px;
            left: 103px;
            min-height: 347px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504617622593-14 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1504617967763-15 {
            width: 443px;
            min-height: 467px;
            top: 285px;
            left: 521px;
        }
        
        .silex-id-1504618777476-17 {
            width: 196px;
            min-height: 44px;
            top: 288px;
            left: 524px;
        }
        
        .silex-id-1504618691829-16 {
            width: 876px;
            top: 753px;
            left: 82px;
            min-height: 252px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504618691829-16 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1504621921789-19 {
            width: 624px;
            min-height: 308px;
            top: 1023px;
            left: 82px;
        }
        
        .silex-id-1504622004009-20 {
            width: 260px;
            top: 1026px;
            left: 715px;
            min-height: 300px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504622004009-20 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1504625512245-25 {
            top: 200.44444274902344px;
            left: NaNpx;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504625512245-25 {
                top: 401px;
                left: 0px;
            }
        }
        
        .silex-id-1504625512245-26 {
            min-height: 329px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504625512245-26 {
                min-height: 415px;
            }
        }
        
        .silex-id-1504625512245-27 {
            width: 822px;
            top: 44px;
            left: 100px;
            min-height: 231px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504625512245-27 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1504626774821-36 {
            top: 322.22222900390625px;
            left: NaNpx;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504626774821-36 {
                top: 401px;
                left: 0px;
            }
        }
        
        .silex-id-1504626774821-37 {
            min-height: 329px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504626774821-37 {
                min-height: 415px;
            }
        }
        
        .silex-id-1504626774821-38 {
            width: 822px;
            top: 44px;
            left: 100px;
            min-height: 231px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1504626774821-38 {
                top: 137px;
                left: 11px;
                width: 421px;
                min-height: 372px;
            }
        }
        
        .silex-id-1483130397853-8 {
            top: 1220px;
            left: 0px;
            min-width: 980px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483130397853-8 {
                top: 730px;
                left: 0px;
            }
        }
        
        .silex-id-1483130397854-9 {
            min-height: 544px;
            background-color: transparent;
            top: 15px;
            left: 205px;
            width: 980px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1483130397854-9 {
                min-height: 767px;
            }
        }
        
        .silex-id-1436036523928-24 {
            width: 978px;
            top: 22px;
            left: 1px;
            min-height: 26px;
        }
        
        .silex-id-1436036523626-21 {
            width: 415px;
            top: 129px;
            left: 513px;
            min-height: 302px;
        }
        
        .silex-id-1436036524028-25 {
            width: 412px;
            top: 58px;
            left: 34px;
            min-height: 441px;
        }
        
        .silex-id-1504616209158-12 {
            width: 212px;
            min-height: 36px;
            top: 507px;
            left: 133px;
        }
        
        .silex-id-1504615962636-9 {
            top: 322.22222900390625px;
            left: NaNpx;
        }
        
        .silex-id-1504615962636-10 {
            min-height: 82px;
            background-color: transparent;
        }
        
        .silex-id-1504615962636-11 {
            width: 238px;
            top: 17px;
            min-height: 40px;
            left: 367px;
        }
    